*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
:root{
    --leaf-width:3%;
    --leaf-height:35px;
}

.bg{
    background-image: url("../images/bg.jpg");
    background-size :100% 100%;
    position :absolute;
    height: 100vh;
    width: 100%;
    z-index :-3;
}

.trees{
    background-image: url("../images/trees.png");
    background-size :100% 100%;
    position :absolute;
    height: 100vh;
    width: 100%;
    z-index :-1;
}

/* ------------ANIMATION SECTION-------------- */
.bycycle{
    background-image: url("../images/girl.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 20%;
    height: 42%;
    z-index: -2;
    position: absolute;
    top:27%;
    right: -280px;
    animation: bycycle-ride 7s linear infinite;
}

.leaf1{
    background-image: url("../images/leaf_01.png");
    background-size: 100% 100%;
    width: var(--leaf-width);
    height: var(--leaf-height);
    position: absolute;
    left: 10%;
    z-index: 1;
    animation: leaves-fall 3s ease-in-out infinite;
}
.leaf2{
    background-image: url("../images/leaf_03.png");
    background-size: 100% 100%;
    width: var(--leaf-width);
    height: var(--leaf-height);
    position: absolute;
    left: 24%;
    z-index: 1;
    animation: leaves-fall 3s ease-in-out infinite;
}
.leaf3{
    background-image: url("../images/leaf_04.png");
    background-size: 100% 100%;
    width: var(--leaf-width);
    height: var(--leaf-height);
    left: 35%;
    position: absolute;
    z-index: 1;
    animation: leaves-fall 3s ease-in-out infinite;
}
.leaf4{
    background-image: url("../images/leaf_04.png");
    background-size: 100% 100%;
    width: var(--leaf-width);
    height: var(--leaf-height);
    left: 55%;
    position: absolute;
    z-index: 1;
    animation: leaves-fall 3s ease-in-out infinite;
}
.leaf5{
    background-image: url("../images/leaf_03.png");
    background-size: 100% 100%;
    width: var(--leaf-width);
    height: var(--leaf-height);
    left: 77%;
    position: absolute;
    z-index: 1;
    animation: leaves-fall 3s ease-in-out infinite;
}

.leaf6{
    background-image: url("../images/leaf_02.png");
    background-size: 100% 100%;
    width: var(--leaf-width);
    height: var(--leaf-height);
    left: 90%;
    position: absolute;
    z-index: 1;
    animation: leaves-fall 3s ease-in-out infinite;
}



@keyframes leaves-fall{
    100%{
        transform: translateY(100vh);
    }
}

@keyframes bycycle-ride{
    100%{
        transform: translateX(-1800px);
    }
}

/* ------------ANIMATION SECTION END-------------- */

/* ------------FORM-------------- */
.container{
    position: absolute;
    top: 28%;
    right: 37%;
    backdrop-filter: blur(18px);
    padding: 30px 50px;
    text-align: center;
    border: 2px solid rgb(207, 158, 158);
    border-radius: 20px;
    z-index: 0;
}

.sign-in-form form{
    margin-bottom: 30px;
}

.sign-in-form h2{
    color: rgb(142, 7, 9);
    font-size:1.9rem;
    margin-bottom:15px;
}

.input-box input {
    margin-bottom: 30px;
    padding: 10px 0 10px 2px;
    width: 290px;
    border: none;
    border-radius: 2px;
    
}
::placeholder{
    color: rgb(142, 7, 9);
    font-size: 13px;
    font-weight: 700;
}

.btn{
    width: 290px;
    height: 35px;
    color:white;
    background:rgb(142, 7, 9);
    border:none;
    border-radius: 2px;
    font-size:14px;
}
.forget-pass{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
.forget-pass a{
    color:rgb(142, 7, 9);
}
.forget-pass a:first-child{
    text-decoration: none;
}

/* ------------FORM END-------------- */